<%= @player_1_name %> vs. <%= @player_2_name %>
<p><%= @player_1_name %>: <%=@player_2_health%>HP</p>
<form action='/attacked_player_2' method ='post'>
  <input type="submit" value="Attack Player 2">
</form>
<p><%= @player_2_name %>: <%=@player_1_health%>HP</p>
<form action='/attacked_player_1' method ='post'>
  <input type="submit" value="Attack Player 1">
</form>